
/* Navbar settings */
.header {
    height: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    
}

/* Logo settings */
.header img {
    object-fit:fill;
    width: 100%;
    height:100%;
}

/* Left Part of Navbar */
.nav1 {
    display:flex;
    align-items: center;
    padding: 14px 16px;
}
.nav1 a{
    display: block;
    color: rgb(196, 183, 167);
    margin: 0 1vw;
    text-decoration: none;
}

/* Right Part of Navbar */
.nav2 {
    display:flex;
    align-items: center;
    padding: 14px 16px;
}
.nav2 a{
    display: block;
    color: rgb(196, 183, 167);
    margin: 0 1vw;
    text-decoration: none;
}
  
/* Dropdown */

.dropdown {
    float: left;
    overflow: visible;
  }
  
.dropbtn {
    font-size: inherit;  
    border: none;
    outline: none;
    color: rgb(196, 183, 167);
    /* padding-top: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    height: 50px;
    /* margin: 0; */
  }
  
  .header a:hover, .dropdown:hover .dropbtn {
    text-decoration-line: underline;
    animation-duration: 3s;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    overflow: visible;
    background-color:rgb(230, 172, 101);
    min-width: 150px;
    min-height: 100px;
    z-index: 1;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .dropdown-content a {  
    float: none;
    color:rgb(56, 56, 56);
    text-decoration: none;
    display: block;
    text-align: left;
    margin-top: 10px;

  }
  
  .dropdown-content a:hover {
    color:bisque;
    text-decoration: none;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/*End Dropdown  */

/* Hero image */
.hero {
    width: 100%;
    height:600px;
    position: relative;
}

.hero img {
    object-fit:cover;
    width: 100%;
    height:100%;
}

/* Register form */
.registerform {
    font-family: "Quicksand", sans-serif;
    position: absolute;
    top:10%;
    bottom:15%;
    right: 10%;
    width: fit-content;  /*box will use the available space*/
    height: fit-content; /*box will use the available space*/
    background-color: antiquewhite;
    z-index: 0;
    border-radius: 15px;
    padding: 2%;
    background: linear-gradient(#f69d3c, #050300);


}


/* Streaming Services Logo Positions */
.streaming {
    display:flex;
    justify-content: space-around;
    justify-content: space-between;
    margin-bottom: 30px;
    
}
.streaming img {
    object-fit: fill;
    width: 8vw;
    height:4vw;
    border-radius: 10px;
    padding:2px;    
}

.streaming img:hover{
    box-shadow: 0px 0px 5px 1px bisque;
}

.registerform h2, .registerform p {
  text-align: center;
}

.registerform p {
  color:bisque
}

 span{
  font-weight: bold;
}

/* Headers Settings */
#HHeader {
  color:bisque;
  font-family: "Quicksand", sans-serif;
  
}

/* Content settings */
#pset {
  color:rgb(162, 141, 116);
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}


#pset-quote {
  color: rgb(250, 238, 222);
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
}


/* Footer */
.footer {
  height: fit-content; 
  display: flex;
  align-content: center;
  background-color: #1d1b18;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  color: bisque;
}

.footer a{
  color: bisque;
}

.footer a :hover{
  color: rgb(208, 195, 179);
}

#main404 {
  position: relative;
}

.bghover {
  position: absolute;
  top:20%;
  bottom: 50%;
  left:10%;
  right:50%;
  height: fit-content;
  width: fit-content;
  font-family: "Quicksand", sans-serif;
}

.bghover a{
  color: #ad3100;
}