

/* Navbar settings */
.header {
    height: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    
}

/* Logo settings */
.header img {
    object-fit:fill;
    width: 100%;
    height:100%;
}

/* Left Part of Navbar */
.nav1 {
    display:flex;
    align-items: center;
    padding: 14px 16px;
}
.nav1 a, .nav2 a, .navmobile a{
    display: block;
    color: rgb(196, 183, 167);
    margin: 0 1vw;
    text-decoration: none;
}

/* Right Part of Navbar */
.nav2 {
    display:flex;
    align-items: center;
    padding: 14px 16px;
}

.header-mobile {

}

/* Dropdown */

.dropdown {
    float: left;
    overflow: visible;
  }
  
.dropbtn {
    font-size: inherit;  
    border: none;
    outline: none;
    color: rgb(196, 183, 167);
    background-color: inherit;
    font-family: inherit;
    height: 50px;
  }
  
  .header a:hover, .dropdown:hover .dropbtn {
    text-decoration-line: underline;
    animation-duration: 3s;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    overflow: visible;
    background-color:rgb(230, 172, 101);
    min-width: 150px;
    min-height: 100px;
    z-index: 1;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .dropdown-content a {  
    float: none;
    color:rgb(56, 56, 56);
    text-decoration: none;
    display: block;
    text-align: left;
    margin-top: 10px;

  }
  
  .dropdown-content a:hover {
    color:bisque;
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/*End Dropdown  */

/* Hero image */

/* Image full screen */
.masthead {
   background-size: cover;
   min-height: 100vh;
   min-width: 100%;
   position: relative;
 
}
.color-overlay {
  position:absolute;
  width:100%;
  height: 100%;
}

@media (max-width:1000px) {
  .registerform {
    display: none;
  }
  .header {
    display: none;
  }
  .breadecrumb-desctop {
    display:none;
  }
}

@media (min-width:999px) {
  .registerform-mobile {
    display: none;
  }
 .header-mobile {
  display: none;
 }
}

/* Register form */
.registerform {
    font-family: "Quicksand", sans-serif;
    position: absolute;
    top:20%;
    right: 5%;
    width: 500px; 
    height: 500px;
    
    border-radius: 15px;
    padding: 2%;
    background: linear-gradient(#f69d3c, #050300);
}

.registerform-mobile {
  font-family: "Quicksand", sans-serif;
  position: absolute;
  max-width: 100vw; 
  height: 380px;
  bottom: 12%;
  left:5%;
  right: 5%;
  z-index: 0;
  border-radius: 15px;
  padding: 2%;
  background: linear-gradient(#f69d3c, #050300);
}

/* Streaming Services Logo Positions */
.streaming {
    display:flex;
    justify-content: space-between;
    margin: 10px;
    
}
.streaming img {
    object-fit: cover;
    width: 125px;
    height: 60px; 
    border-radius: 5px;
    transition-property: width, height; /* Scale Animation /
    /* transition-duration: 1s;    /* Scale Animation */
}


.streaming img:hover{
    box-shadow: 0px 0px 5px 1px bisque;
    width: 130px; /* Scale Animation */
    height:65px; /* Scale Animation */

}

.registerform h2, .registerform p, .registerform-mobile h2, .registerform-mobile p {
  text-align: center;
}

.registerform p, .registerform-mobile p {
  color:bisque
}

 span{
  font-weight: bold;
}

/* Headers Settings */
#HHeader {
  color:bisque;
  font-family: "Quicksand", sans-serif;
  
}

/* Content settings */
#pset {
  color:rgb(162, 141, 116);
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}


#pset-quote {
  color: rgb(250, 238, 222);
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
}


/* Footer */
.footer {
  position: absolute;
  /* height: fit-content;  */
  width:100%;
  display: flex;
  align-content: center;
  margin-bottom: 0;
  background-color: #1d1b18;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  color: bisque;
}

.footer a{
  color: bisque;
}

.footer a :hover{
  color: rgb(208, 195, 179);
}


/* 404 error page */

.bghover {
  position: absolute;
  top:20%;
  bottom: 50%;
  left:10%;
  right:50%;
  height: fit-content;
  width: fit-content;
  font-family: "Quicksand", sans-serif;
}

.bghover a{
  color: #ad3100;
}

.breadcrumbs {
  font-size: 12px;
}

.breadcrumbs a{
  color:bisque;
}

#bc-active {
  color:rgb(174, 155, 131)
}

/* Animation on Dune Movie */

/* Glow to element - Spice Melange Glow */
@keyframes spice-glow {
  0%, 100% {
    text-shadow: 0 0 10px orange, 0 0 20px red;
  }
  50% {
    text-shadow: 0 0 20px orange, 0 0 30px red;
  }
}

.spice-glow {
  animation: spice-glow 2s infinite;
  color: yellow;
}


/* Expanding Spice Vision 3 */

@keyframes spice-vision {
  from {
    transform: scale(1);
    filter: brightness(1);
  }
  to {
    transform: scale(1.05);
    filter: brightness(1.2);
  }
}

.spice-vision:hover {
  animation: spice-vision 0.5s forwards;
}

